<link rel="stylesheet" href="{f:uri.resource(path: 'resource://Sitegeist.Objects/Public/Styles/react-table.css')}">
<link rel="stylesheet" href="{f:uri.resource(path: 'resource://Sitegeist.Objects/Public/Styles/react-datepicker.min.css')}">
<script>
    window.Sitegeist = window.Sitegeist || {};
    window.Sitegeist.Objects = {};
    window.Sitegeist.Objects.csrfToken = '{f:security.csrfToken()}';
    window.Sitegeist.Objects.apiEndpoint = '{apiEndpoint}';

    window.Sitegeist.Objects.contentContext = {};
    window.Sitegeist.Objects.contentContext.workspaceName = '{workspaceName}';
    window.Sitegeist.Objects.contentContext.invisibleContentShown = true;
    window.Sitegeist.Objects.contentContext.removedContentShown = true;
    window.Sitegeist.Objects.contentContext.inaccessibleContentShown = true;
</script>
<div id="app"></div>
<script src="{f:uri.resource(path: 'resource://Sitegeist.Objects/Public/JavaScript/env.js')}"></script>
<script src="{f:uri.resource(path: 'resource://Sitegeist.Objects/Public/JavaScript/app.js')}"></script>
